/* Introduction */
#title {
    font-size: 60pt;
    font-family: 'Righteous', 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 10% 15% 2pt 15%;
}
h6 {
    text-align: center;
    font-family: 'SF Pro Display', 'Arial', sans-serif;
    margin-bottom: 25%;
}

h2 {
    text-align: center;
    font-family: 'Righteous', 'Arial', sans-serif;
    font-size: 40pt;
    margin-bottom: 5%;
}

/* User Research */
.cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: top;
    margin-left: 25%;
    margin-left: 25%;
}
.urText {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20pt;
    text-align: center;
}
.card {
    margin: 5%;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #5753AB;
}

/* Problem Statement */
.problemStatement {
    text-align: center;
    font-family: 'Righteous', 'Arial', sans-serif;
}
.psText {
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

/* Iterations */
.iterationImg {
    border-radius: 15px;
}

/* Prototype */
.prototype {
    align-items: center;
    margin: 0px 20% 0px 20%;
}

/* Footer */
.inline-block {
    display: inline-block;
    vertical-align: top;
}
footer {
    background-color: #FFDBE8;
    padding: 1%;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
}

/* Background */
.ombre-background{
    background-image:linear-gradient(to bottom, #BDE1F2, #ffbad2);
}